html, body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    animation: psykadelisk 0.1s linear infinite;
}

h1 {
    font-size: 8rem;
    color: #fff;
    font-family: sans-serif;
    
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

@keyframes psykadelisk {
    0% {
        color: white;
        background-color: rgb(255, 0, 0);
    }

    100% {
        color: yellow;
        background-color: rgb(255, 35, 35);
    }
}